
*{
    padding: 0;
    margin: 0;
}

.Exs{
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 8vh;
    padding-bottom: 5vh;
    gap: 15vw;
    width: 100%;
    background-size: 100%;
}

header{
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: solid;
    background-color: aliceblue;
    width: 100vw;
    
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: #fff; 
    width: fit-content;
    height: auto;
    gap:  12px;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

.corpo-wrap{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 4vh;

}

.container {
    width: 100%;
    max-width: 800px; 
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(136, 136, 136, 0.1); 
    text-align: center;
    background-color: rgb(0, 251, 255); 
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00ff62;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e5ff00;
}

#result {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
